
#topheader{
    background-color: rgb(175, 235, 235);
    border-bottom: 1px solid rgb(26, 124, 236);
   
}
#topheader a{
    color: #2d3436;
font-weight: 1rem; 
}
.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}
#bottomheader.navbar-nav{
    background-color: cornsilk;
}
/* .navbar-nav .navbar-item{
    color: cornsilk;
} */
.nav .ul .li .a{
font-size: 1.1 rem;
font-weight: 600;
}
.full-footer{
    background-color: #2c3e50;
    /* position: absolute;
    bottom: 0px;
    width: 100%; */
}
/* starting of top footer */
.full-footer .container-fluid{
    padding: 1px;
}
.top-footer p{
    color: white;
}
.top-footer h3{
    color: white;
}
/* bottom footer */
.container-fluid .bottom-footer {
    background-color: #090f14;
}
.bottom-footer p{
    color: white;
}
/* .bottom-footer{
    background-color: #34495e;
} */
.nav.active{
    background-color: tomato;
}
.top-hero-section{
    background-color: #0984e3;
    color: white;
    /* padding: 30px; */
}
.top-hero-section a{
    color: white;
    font-weight: 600;
}
.qualities-image{
    width: 200px;
}
.qualities-image1{
    width: 200px;
}
.qualities-image2{
    width: 200px;
}
.requirment-section{
    background-color: #30336b;
}
